
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body { height: 100%; margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

router-outlet + app-login, app-activate-account {
  display:flex;
  flex-direction: row;
  flex:1;
}
