<form [formGroup]="dialogForm">
  <div mat-dialog-content>
    <h2 style="text-align: center">Purchase details</h2>
    <div class="form-control">
      <mat-form-field appearance="fill">
        <mat-label>Product name</mat-label>
        <input matInput value="{{product.name}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput value="{{product.price|currency:'EUR':'symbol'}}"
               readonly>
      </mat-form-field>

      <app-payment-method-dropdown
          [selectedPaymentMethodIdControl]="$any(dialogForm.get('paymentMethodId'))"
          (paymentMethodChangeEvent)="selectedPaymentMethod($event)"
      />

      <ng-container *ngIf='checkPaymentMethod()'>
        <mat-form-field appearance="fill">
          <mat-label>{{currentPaymentMethod.name}} number</mat-label>
          <input matInput formControlName="value" required>
        </mat-form-field>
      </ng-container>
    </div>
  </div>

  <div mat-dialog-actions style="float: right">
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-raised-button color="primary"
            (click)="purchaseSubmit(dialogForm)">Submit
    </button>
  </div>
</form>
