.example-card {
  max-width: 400px;
  max-height: 400px;
}

.product-card-img {
  max-height: 150px;
  height: 150px;
  max-width: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
