.product-card {
  padding: 8px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}

.product-image {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.product-name {
  text-align: center;
}

.product-seller {
  font-size: 0.8rem;
  color: #ff0303;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  text-align: end;
  padding: 5px 5px 5px 0;
}
