<div class="product-card">
  <div class="product-card-container">
    <div>
      <div class="product-image">
        <ng-template
            [ngIf]="product.productImages && product.productImages.length>0"
            [ngIfElse]="altImage">
          <img mat-card-image
               class="product-card-img"
               src="http://localhost:8080/products/{{product.productImages[0].id}}/image"
               alt="/assets/product-default-image.png"
          />
        </ng-template>
        <ng-template #altImage>
          <img mat-card-image
               class="product-card-img"
               src="/assets/product-default-image.png" alt="image"
          >
        </ng-template>
      </div>
      <h2 class="product-name">{{product.name}}</h2>
      <h4>
        Seller: {{product.seller!.firstName + ' ' + product.seller!.lastName}}</h4>
    </div>
    <div class="product-price">${{product.price}}</div>
  </div>
</div>
