<mat-form-field appearance="fill" class="search-input-style">
  <mat-label>Search product</mat-label>
  <input matInput [value]="searchText" (keydown)="onKeyDown($event)"
  />
</mat-form-field>

<div class="product-list">
  <div *ngFor="let i of [0, 1, 2, 3]">
    <app-product-card (click)="productCardClick(i)"></app-product-card>
  </div>
</div>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25]"
               aria-label="Select page"
               class="mat-mdc-paginator-container"
></mat-paginator>
