<mat-form-field appearance="fill" class="search-input-style">
  <mat-label>Search product</mat-label>
  <input matInput
         (keydown)="onKeyDown($event)"
         [(ngModel)]="searchText"
         (ngModelChange)="this.searchTextUpdate.next($event)"
  />
</mat-form-field>

<div class="product-list">
  <ng-template [ngIf]="products && products.length!==0" [ngIfElse]="noproducts">
    <div *ngFor="let product of products">
      <app-product-card [product]="product" (click)="productCardClick(product)"></app-product-card>
    </div>
  </ng-template>
  <ng-template #noproducts>
    <h2>Currently there are no products</h2>
  </ng-template>
</div>

<mat-paginator
    [length]="totalNumber"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onPaginatorChange($event)"
    aria-label="Select page"
    class="mat-mdc-paginator-container"
></mat-paginator>
