.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap
}

.mat-mdc-paginator-container {
  justify-content: center;
}

.mat-mdc-paginator, .mat-mdc-select-value{
  font-size: 14px;
}

.search-input-style {
  width: 100%;
  padding: 20px;
}

.card-pointer:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(103, 58, 183, 0.6);
}
