<div style="width: 100%">
  <form [formGroup]="form">
    <div class="search-container">
      <mat-form-field appearance="fill" class="name-search">
        <mat-label>Search product</mat-label>
        <input matInput
               (keydown.enter)="onKeyDown()"
               formControlName="nameSearch"
               type="text"
        />
      </mat-form-field>

      <app-category-dropdown
          class="category-search"
          [selectedCategoryIdControl]="$any(form.get('categoryIdSearch'))">
      </app-category-dropdown>

    </div>
  </form>

  <div class="product-list">
    <ng-container *ngIf="products; else loadingState">
      <ng-container *ngIf="products.length; else noDataState">
        <app-product-card class="card-pointer" *ngFor="let product of products"
                          [product]="product"
                          (click)="productCardClick(product)"></app-product-card>
      </ng-container>
      <ng-template #noDataState>
        <h2>There are no products to display</h2>
      </ng-template>
    </ng-container>
    <ng-template #loadingState>
      <h2>Loading...</h2>
    </ng-template>
  </div>

  <mat-paginator
      [length]="totalNumber"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPaginatorChange($event)"
      aria-label="Select page"
      class="mat-mdc-paginator-container"
  ></mat-paginator>
</div>
