<div class="default-style" style="padding: 10px">
  <div class="flex-column">
    <div class="flex-row">
      <div style="width: 50%">
        <ng-container *ngIf="product">
          <app-mat-input *ngIf="product"
                         label="Product name"
                         [value]="product.name"
          />
          <mat-chip-option *ngIf="product"
                           style="margin-bottom: 22px">{{product.isNew ? "New" : "Used"}}</mat-chip-option>
          <app-mat-input label="Description"
                         [value]="product.description"
          />
          <app-mat-input label="Price"
                         type="number"
                         [value]="product.price"
          />
          <app-mat-input label="Location"
                         [value]="product.location"
          />
        </ng-container>
      </div>
      <div style="padding: 10px; margin: 10px; width: 50%">
        <carousel style="z-index: 10" arrowsTheme="dark" [autoplay]=false
                  *ngIf="product && product.productImages">
          <div *ngFor="let image of product.productImages"
               class="carousel-cell">
            <img src='{{baseUrl}}/products/{{image.id}}/image'
                 alt="no image">
          </div>
        </carousel>
      </div>
    </div>
    <ng-container *ngIf="product">
      <app-mat-input label="Category name"
                     [value]="product.category!.name"
      />
      <ng-container *ngIf="product.category && product.productAttributes">
        <div class="flex-wrap flex-row default-gap full-width">
          <app-mat-input *ngFor="let attribute of product.productAttributes"
                         label="{{attribute.name}}"
                         value="{{attribute.value}}"
          />
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="center-container default-gap"
       *ngIf="product!=null && !product.isPurchased">
    <app-button class="center-items full-width container-max-width"
                (btnClick)="purchaseButtonClicked()">Purchase
    </app-button>
    <ng-container *ngIf="shouldShowDeleteButton()">
      <app-button class="center-items full-width container-max-width"
                  color="warn"
                  (btnClick)="deleteButtonClicked()">Delete
      </app-button>
    </ng-container>
  </div>

  <!------------product comments------------------>
  <div>
    <app-comment-list class="comments-list"
                      style="width: 100%"
                      *ngIf="product"
                      [product]="product!">

    </app-comment-list>
  </div>
</div>
