<div class="default-style" style="padding: 10px">
  <app-button *ngIf="!product!.isPurchased" (btnClick)="purchaseButtonClicked()">Purchase</app-button>
  <div style="display: flex; flex-direction: row">
    <div style="width: 50%">
      <ng-container *ngIf="form">
        <form [formGroup]="form">
          <app-input
              style="width: 100%"
              label="Product name"
              type="text"
              errorMessage="Product name is required"
              [required]="true"
              [readonly]=true
              [control]="$any(form.get('name'))"
          >
          </app-input>
          <app-input
              style="width: 100%"
              label="Description"
              type="text"
              [readonly]=true
              [control]="$any(form.get('description'))"
          >
          </app-input>

          <app-input
              style="width: 100%"
              label="Price"
              type="number"
              [readonly]=true
              [control]="$any(form.get('price'))"
          >
          </app-input>

          <app-input
              style="width: 100%"
              label="Location"
              type="text"
              [readonly]=true
              [control]="$any(form.get('location'))"
          >
          </app-input>

          <app-input
              style="width: 100%"
              label="Category name"
              type="text"
              [readonly]=true
              [control]="$any(form.get('category'))"
          >
          </app-input>
        </form>
      </ng-container>
    </div>
    <div style="padding: 10px; margin: 10px; width: 50%">
      <carousel style="z-index: 10" arrowsTheme="dark" [autoplay]=false
                *ngIf="product && product.productImages">
        <div *ngFor="let image of product.productImages" class="carousel-cell">
          <img src="http://localhost:8080/products/{{image.id}}/image"
               alt="no image">
        </div>
      </carousel>
    </div>
  </div>

  <!------------product comments------------------>
  <div>
    <app-comment-list class="comments-list"
                      style="width: 100%"
                      *ngIf="product"
                      [product]="product!">

    </app-comment-list>
  </div>
</div>
