
.profile-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  justify-content: center;
}

.profile-button-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.half-screen{
  width: 50%;
}


.image-size {
  width: 450px;
  height: 450px;
}

.max-image-size{
  max-width: 450px;
  max-height: 450px;
}
