<div class="default-style default-margin">
  <h2 class="center-container">Profile information</h2>
  <div class="profile-container">
    <form *ngIf="form" class="center-container flex-wrap container-max-width" (ngSubmit)="saveChanges()" [formGroup]="form">
      <app-form-input
          style="width: 100%"
          label="Username"
          type="text"
          [readonly]="true"
          [control]="$any(form.get('username'))"
      >
      </app-form-input>
      <app-form-input
          style="width: 100%"
          label="Email"
          [required]="true"
          [readonly]="isReadOnly"
          type="text"
          [control]="$any(form.get('email'))"
      />
      <app-form-input
          style="width: 100%"
          label="First Name"
          type="text"
          [required]="true"
          [readonly]="isReadOnly"
          [control]="$any(form.get('firstName'))"
      />
      <app-form-input
          style="width: 100%"
          label="Last Name"
          type="text"
          [required]="true"
          [readonly]="isReadOnly"
          [control]="$any(form.get('lastName'))"
      />
      <app-form-input
          style="width: 100%"
          label="City"
          type="text"
          [required]="true"
          [readonly]="isReadOnly"
          [control]="$any(form.get('city'))"
      />
    </form>
    <div>
      <img *ngIf="currentUser && currentUser.avatarPath" class="max-image-size"
           src="{{baseUrl}}/users/{{currentUser.id}}/image"
           alt="image">
      <img *ngIf="currentUser && currentUser.avatarPath==null"
           class="image-size"
           src="assets/avatar.png"
           alt="image">
    </div>
  </div>
  <div class="profile-button-container">
    <ng-container *ngIf="isReadOnly">
      <app-button type="button" (btnClick)="changeEditMode()">Edit profile
      </app-button>
      <app-button (btnClick)="changePasswordClick()">Change password
      </app-button>
    </ng-container>
    <ng-container *ngIf="!isReadOnly">
      <app-button type="submit" (btnClick)="saveChanges()">Save changes
      </app-button>
      <app-button (btnClick)="changeEditMode()">Cancle
      </app-button>
    </ng-container>
  </div>
</div>
