<nav class="header-container">
  <button mat-raised-button [routerLink]="[paths.PRODUCTS]"
          routerLinkActive="selected-button">Products
  </button>
  <button mat-raised-button [routerLink]="[paths.CONTACT_SUPPORT]"
          routerLinkActive="selected-button">Contact support
  </button>
  <button mat-raised-button [routerLink]="[paths.SELL_PRODUCT]"
          routerLinkActive="selected-button">Sell product
  </button>

  <button mat-raised-button [routerLink]="[paths.PURCHASE_HISTORY]"
          routerLinkActive="selected-button">Purchase history
  </button>
  <button mat-raised-button [routerLink]="[paths.USER_PRODUCTS]"
          routerLinkActive="selected-button">Your products
  </button>

  <ng-template [ngIf]="isLoggedIn()" [ngIfElse]="loading">
    <div>Logged in</div>
    <app-avatar-button style="margin: 0" [id]="id"
                       [routerLink]="[paths.PROFILE]"></app-avatar-button>
    <button mat-raised-button (click)="logoutClick()">Logout</button>
    <!--    TODO: logout button-->
  </ng-template>

  <ng-template #loading>
    <!--    TODO: <Login and Singup buttons on the right-->
    <button mat-raised-button [routerLink]="[paths.LOGIN]"
            routerLinkActive="selected-button">Login
    </button>
    <div>Not logged in</div>
  </ng-template>
</nav>
