<div class="main-grid">
  <form class="center-container form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Change password</h2>
    <app-form-input
        style="width: 100%"
        label="Username"
        type="text"
        errorMessage="Username is required"
        [required]="true"
        [readonly]="true"
        [control]="$any(form.get('username'))"
    >
    </app-form-input>
    <app-form-input
        style="width: 100%"
        label="Old password"
        type="password"
        errorMessage="Password is required"
        [required]="true"
        [control]="$any(form.get('oldPassword'))"
    >
    </app-form-input>
    <app-form-input
        style="width: 100%"
        label="New password"
        type="password"
        errorMessage="New password is required"
        [required]="true"
        [control]="$any(form.get('newPassword'))"
    >
    </app-form-input>
    <app-form-input
        style="width: 100%"
        label="Confirm password"
        type="password"
        errorMessage="Confirm password is required"
        [required]="true"
        [control]="$any(form.get('newPassword2'))"
    >
    </app-form-input>

    <div class="default-style default-gap" style="align-items: center">
      <app-button type="submit">Submit</app-button>
      <app-button (btnClick)="goBackClicked()">Go back</app-button>
    </div>
  </form>
</div>

