<div class="main-grid">
  <form class="center-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Product information</h2>

<!--    TODO: use this commented -->
<!--    <app-category-dropdown-->
<!--        class="category-search"-->
<!--        [selectedCategoryIdControl]="$any(searchForm.get('categoryIdSearch'))"-->
<!--        (categoryChangeEvent)="categoryChangeEvent($event)"-->
<!--    >-->
<!--    </app-category-dropdown>-->

    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Category</mat-label>
      <input type="text"
             placeholder="Pick one"
             matInput
             formControlName="category"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                        (optionSelected)="optionSelected($event)"
                        [displayWith]="displayCategoryName"
      >
        <mat-option *ngFor="let category of filteredOptions | async"
                    [value]="category">
          {{category.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div style="width: 100%" *ngIf="attributeForm">
      <form class="center-container" [formGroup]="attributeForm">
        <app-input *ngFor="let attributeValue of attributesValue"
                   style="width: 100%"
                   label="{{attributeValue.name}}"
                   type="text"
                   [control]="$any(attributeForm.get(attributeValue.name))"
        >
        </app-input>

      </form>
    </div>

    <div style="width: 100%">
      <mat-checkbox color="primary" formControlName="isNew">
        {{form.controls['isNew'].value ? "Product is in new condition" : "Product is not new"}}
      </mat-checkbox>
    </div>

    <app-input
        style="width: 100%"
        label="Product name"
        type="text"
        errorMessage="Product name is required"
        [required]="true"
        [control]="$any(form.get('name'))"
    >
    </app-input>

    <mat-form-field class="multiline-style"
                    style="width: 100%; max-height: 400px">
      <mat-label>Product description</mat-label>
      <textarea matInput
                formControlName="description"
                placeholder="Ex. This product is..."></textarea>
    </mat-form-field>

    <app-input
        style="width: 100%"
        label="Price"
        type="number"
        errorMessage="Price is required"
        [required]="true"
        [control]="$any(form.get('price'))"
    >
    </app-input>

    <app-input
        style="width: 100%"
        label="Location"
        type="text"
        errorMessage="Location is required"
        [required]="true"
        [control]="$any(form.get('location'))"
    >
    </app-input>

    <ngx-dropzone style="min-height: 200px; width: 100%"
                  accept="image/jpeg,image/jpg,image/png"
                  [multiple]="true" [maxFileSize]=5000000
                  (change)="onImageSelect($event)">
      <ngx-dropzone-label>Drop & Drop!</ngx-dropzone-label>
      <ng-container *ngIf="files" style="flex-direction: row">
        <ngx-dropzone-image-preview
            *ngFor="let file of files"
            [file]="file"
            ngProjectAs="ngx-dropzone-preview"
            [removable]="true" (removed)="onImageRemove(file)">
        </ngx-dropzone-image-preview>
      </ng-container>
    </ngx-dropzone>

    <app-button style="margin: 15px" type="submit">Submit</app-button>
    <div style="height: 100px"></div>
  </form>
</div>
