<div class="main-grid login-image">
  <form class="center-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <app-input
        style="width: 100%"
        label="Username"
        type="text"
        errorMessage="Username is required"
        [required]="true"
        [control]="$any(form.get('username'))"
        (keyDown)="onKeyDown($event)"
    >
    </app-input>
    <app-input
        style="width: 100%"
        label="Password"
        type="password"
        errorMessage="Password is required"
        [required]="true"
        [control]="$any(form.get('password'))"
        (keyDown)="onKeyDown($event)"
    >
    </app-input>

    <div class="default-style" style="align-items: center">
      <app-button type="submit">Sign in</app-button>
      <app-button routerLink='/{{paths.PRODUCTS}}'>Continue as guest</app-button>
      <div class="or">or</div>
      <app-button routerLink='/{{paths.REGISTER}}'>Register</app-button>
    </div>
  </form>
</div>

