.comment-card {
  width: 100%;
  margin-bottom: 10px;
}

.white-background{
  background-color: white;
}

.gray-background{
  background-color: lightgray;
}

.post-comment-form {
  margin-bottom: 20px;
}

.comment-header{
  display:flex;
  justify-content: space-between;
  width: 100%;
}
