<ng-container *ngIf="isLoggedIn() && product!=null && !product.isPurchased" style="width: 100%">
  <form class="post-comment-form" [formGroup]="form" (ngSubmit)="postComment()"
        style="width: 100%">
    <app-input style="width: 100%"
               label="Post comment"
               errorMessage="Message is required"
               [required]="true"
               [control]="$any(form.get('message'))"
    >
    </app-input>
    <app-button type="submit">Post comment</app-button>
  </form>
</ng-container>

<ng-container *ngIf="comments; else loadingState">
  <ng-container *ngIf="comments.length; else noDataState">
    <mat-card class="comment-card" [ngClass]="getClassBasedOnUser(comment)"
              *ngFor="let comment of comments">
      <mat-card-header>
        <div class="comment-header">
          <mat-card-subtitle>{{comment.userFirstName + ' ' + comment.userLastName }}</mat-card-subtitle>
          <mat-card-subtitle>{{myUtils.customDateFormat(comment.date)}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{comment.message}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noDataState>
    <h2>There are no comments to display</h2>
  </ng-template>
</ng-container>
<ng-template #loadingState>
  <h2>Loading...</h2>
</ng-template>

