<h2>Comments</h2>
<ng-container *ngIf="isLoggedIn() && product!=null && !product.isPurchased"
              style="width: 100%">
  <form class="center-container post-comment-form full-width" [formGroup]="form"
        (ngSubmit)="postComment()">
    <app-form-input style="width: 100%"
                    label="Post comment"
                    hint="Ex. This product sucks because..."
                    errorMessage="Message is required"
                    [required]="true"
                    [control]="$any(form.get('message'))"
    >
    </app-form-input>
    <app-button class="center-items full-width container-max-width" type="submit">Post comment</app-button>
  </form>
</ng-container>

<ng-container *ngIf="comments; else loadingState">
  <ng-container *ngIf="comments.length; else noDataState">
    <mat-card class="comment-card" [ngClass]="getClassBasedOnUser(comment)"
              *ngFor="let comment of comments">
      <mat-card-header>
        <div class="comment-header">
          <mat-card-subtitle>{{comment.userFirstName + ' ' + comment.userLastName }}</mat-card-subtitle>
          <mat-card-subtitle>{{myUtils.customDateFormat(comment.date)}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{comment.message}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #noDataState>
    <h2>There are no comments to display</h2>
  </ng-template>
</ng-container>
<ng-template #loadingState>
  <h2>Loading...</h2>
</ng-template>

