<div class="main-grid login-image">
  <form class="center-container container-max-width" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Activate account</h2>
    <app-form-input
        style="width: 100%"
        label="Username"
        type="text"
        errorMessage="Username is required"
        [readonly]="true"
        [control]="$any(form.get('username'))"
    >
    </app-form-input>
    <app-form-input
        style="width: 100%"
        label="Activation pin"
        type="password"
        errorMessage="Insert four digit pin"
        [required]="true"
        [control]="$any(form.get('pin'))"
        (keyDown)="onKeyDown($event)"
    >
    </app-form-input>

    <app-button type="submit">Activate</app-button>
    <div class="or">or</div>
    <app-button (btnClick)="backToLogin()">Back to login</app-button>
  </form>
</div>

